{% extends "post/header.html" %}

{% block title %} Вы успешно вышли из аккаунта! {% endblock %}

{% block data %}
	
	<div class="messages">
		<h1>Вы успешно вышли из аккаунта!)</h1>
	</div>

	<style>
		.messages h1 {
		    background-color: #156757;
		    border-color: #d0e9c6;
		    color: #fff; 

		    border: 1px solid transparent;
		    border-radius: 4;

			text-align: center;

			padding: 15px;
		}
	</style>
	<script>
		setTimeout(function(){
		  window.location.href = '/';
		}, 500);
	</script>
{% endblock %}